@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Work+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Roboto Slab', serif;
}

p{
  font-family: 'Arial', sans-serif;
}

body {
  background: url('Images/buku.jpg');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 25vh;
}

header {
  background-color: darkcyan;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

navbar {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: #555;
  color: #fff;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

navbar li {
  margin: 10px 0;
}

navbar a {
  color: #fff;
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
}

navbar a:hover {
  background-color:#39B5E0;
  padding: 20px;
  border-radius: 8px;
}


navbar a {
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  
}

main {
  margin: 20px;
}

img {
  width: 100%;
}

h2 {
  margin-bottom: 10px;
}

button {
  font-size: 15px;
  background: #009973;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor:pointer;
  margin-top: 10px;
  text-decoration: none;
}

button :hover{
  opacity:0.9;
}

footer {
  background-color: #555;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  section div {
    width: 90%;
  }
}

#logo{
    width: 100%;
    margin:auto;
    padding:auto;
    padding-bottom: 20px;
}

#container{
    width: 360px;
    background: white;
    margin:180px auto;
    padding: 30px 20px;
    border-radius: 6px;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=password]{
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 5px;
}

#nama{
    background-image: url('Icon/user.png');
}
#address{
    background-image: url('Icon/pin.png');
}
#nomor{
    background-image: url('Icon/phone-call.png');
}
        
input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid #555;
}

input[type=submit]{
    font-size: 15px;
    background: #009973;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor:pointer;
    margin-top: 10px;
}

input[type=submit]:hover{
    opacity:0.9;
}

.log-in {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
    margin-left: 20vh;
}